.hdg-primary,
.hdg-secondary,
.hdg-tertiary {
  font-weight: 700;
  line-height: 1.1;
  font-weight: 700;
  font-size: 6rem;
}
.hdg-secondary {
  font-size: 4rem;
}
.hdg-tertiary {
}
.hdg-tertiary {
  font-size: 1.8rem;
}
