// Colors
$primary-bright: hsl(12, 88%, 59%);
$primary-blue: hsl(228, 39%, 23%);

$grayish-blue: hsl(227, 12%, 61%);
$dark-blue: hsl(233, 12%, 13%);
$pale-red: hsl(13, 100%, 96%);
$light-gray: hsl(0, 0%, 98%);
// BreakPoints
$phone--375: 23.4375em; //375px
$phone--400: 25em; // 400px
$phone-500: 31.25em; //500px
$phone: 37.5em; //600px
$phone-700: 43.75em; //700px
$phone-800: 50em; //800px
$tab-port: 56.25em; //900px
$tab-port--1000: 62.5em; //1000px
$tab-port--1100: 68.75em; //1100px
$tab-land: 75em; //1200px
$desktop-lev0: 87.5em; //1400px
$desktop-lev1: 93.75em; //1500px
$desktop-lev2: 112.5em; //1800px
